In [8]:
#Importing packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [9]:
#Read the data
dataset=pd.read_excel('C:/Users/aksha/Desktop/ai/datasets/stark_data.xlsx')
dataset.head()

  Character   Age  Gender  Survived
0    Eddard  52.0    Male         0
1      John  27.0    Male         1
2      Arya  21.0  Female         1
3      Bran  19.0    Male         1
4      Robb   NaN    Male         0

In [10]:
dataset.shape

(6, 4)

In [11]:
X=dataset.iloc[:,2].values
X

array(['Male', 'Male', 'Female', 'Male', 'Male', 'Female'], dtype=object)

In [12]:
X

array(['Male', 'Male', 'Female', 'Male', 'Male', 'Female'], dtype=object)

In [13]:
X1=pd.get_dummies(X)

In [14]:
X1

   Female  Male
0       0     1
1       0     1
2       1     0
3       0     1
4       0     1
5       1     0

In [15]:
X2=pd.get_dummies(X,drop_first=True)
X2

   Male
0     1
1     1
2     0
3     1
4     1
5     0